
<div class="roles">
    <%= link_to "Continuar como avaliador",  controller: "appraisals", action: "index", :role => "appraiser" %>
    <%= link_to "Continuar como aluno", controller: "teams", action: "index", :role => "student" %>
</div>
