
<div class="roles">
    <%= link_to "Continuar como avaliador",  controller: "roles", action: "set_appraiser" %>
    <% if @students_with_new_appraisals.any? %>
        <% @students_with_new_appraisals.update_all(new_appraisal: false) %>
        <%= link_to "Continuar como aluno", controller: "roles", action: "set_student_with_new_appraisal" %>
    <% else %> 
        <%= link_to "Continuar como aluno", controller: "roles", action: "set_student" %>
    <% end %>
</div>
